@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-image: linear-gradient(to left, #eee710, #0aa5f2,rgb(32, 150, 44));
    background-size: 500% 100%;
    animation: fundo-degrade 5s infinite alternate;
}  

@keyframes fundo-degrade {
    0%{
    background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
}

.container1{ 
    max-width: 1080px;
    margin: 0 auto;
}
.container1 h2 {
  margin-top: -250px;
  width: 100px;
  align-items: center;
}

header{
    background-color: #090909;
    box-shadow: rgba(0 0 0 / 75) 0px 13px 30px - 12px;
    max-width: 100%;
    margin: 0;
    padding: -10px 30px;
    z-index: 999;
    border-bottom: 2px solid #787777ad;
    position: relative;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid white;
    padding: 0 34px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
    margin-top: 0;
    margin-left: 0;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
.navbar .nav-container a:hover {
    font-weight: bolder;
}
.nav-container {
    display: block;
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 55px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 30px;
    width: 40px;
    position: absolute;
    top: 16px;
    left: 55px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 90%;
    border-radius: 10px;
    background: white;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    padding-left: -20px;
    transition: transform 0.4s ease-in-out;
    text-align: left;
    background-color: transparent;
    list-style: none;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;   
}

a {
  /* Same as before */
  background: linear-gradient(to right, black, rgb(123, 216, 115) 50%, hwb(0 7% 93%) 50%);
}

a {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

a {
  /* Same as before */
  transition: background-position 275ms ease;
}
a:hover {
  background-position: 0 100%;
}

.navbar .menu-items2 {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    padding-left: 10px;
    transition: transform 0.4s ease-in-out;
    text-align: left;
    background-color: rgb(240, 177, 140);
    visibility: hidden;
}
.navbar .menu-items2 li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    list-style: none;
}

.logo {
  display: block;
  max-width: 10px;
  position: absolute;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 16px 16px;
}
.logo img {
  margin-left: -100px;
  margin-top: -62px;
  padding: 33px;

}
.logo h1 {
  margin-left: -280px;
  margin-top: -95px;
}

.logo_dir {
    display: none;
    padding-top: 5px;
}
.logo_dir img{
    width: 50px;
    margin-left: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}