
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 500%;
    height: auto;
    display: flex;
    margin-top: 600px;

}
.slider-content img {
    margin-top: 80px;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
    border-top: 5px solid #111111;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #164ae8;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #2b81e9;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #269bea;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}


@media (max-width: 1760px) {
    .slider-content{
        width: 400%;
        height: auto;
        display: flex;
        margin-top: 465px;

    }
}

@media (max-width: 1600px) {
    .slider-content{
        text-align: center;
        width: 400%;
        height: auto;
        display: flex;
        margin-top: 350px;
     }  
}
@media (max-width: 1449px) {
    .nav-manual, .nav-auto {
        margin-top: 610px;
    }
}
@media (max-width: 1280px) {
    .nav-manual, .nav-auto {
        margin-top: 500px;
    }
}
@media (max-width: 1024px) {
    .slider-content{
        width: 410%;
        height: auto;
        display: flex;
        margin-top: 295px;
    }
}
@media (max-width: 1024px) {
    .slider-content{
        width: 400%;
        height: auto;
        display: flex;
        margin-top: 295px;
    }
}

@media (max-width: 990px) {
    .slider-content{
        width: 400%;
        height: auto;
        display: flex;
        margin-top: 243px;

    }
}
@media (max-width: 768px) {
    .slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin-top: 595px;
    }
}

@media screen and (max-width: 900px) {s
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}
@media (max-width: 415px) {
    .slider-content{
       margin-top: 225px;
    .nav-manual .manual-btn, .nav-auto div {
        margin-top: 45px;;
    }
}